:root {
  --primary-font: "Roboto";

  /* Font-Weight */
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /* Font-Size */
  --font-size-xxs: 11px;
  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-base: 16px;
  --font-size-lg: 17px;
  --font-size-xl: 20px;
  --font-size-2xl: 32px;

  /* Colors */
}
